body{
    background-color: black;
}
.anime h3{
    color: aliceblue;
    text-align: center;
}
.anime img{
    height:200px;
    width: 300px;
    margin: 0 auto;
    display: block;
    filter: blur(4px);
}
.anime img:hover{
    filter: blur(0px);
}
.naruto h3{
    color: aliceblue;
    text-align: center;
}
.naruto img{
    height:200px;
    width: 300px;
    margin: 0 auto;
    display: block;
    filter:hue-rotate(60deg)
}
.naruto img:hover{
    filter: hue-rotate(0deg);
}
.boruto h3{
    color: aliceblue;
    text-align: center;
}
.boruto img{
    height:200px;
    width: 500px;
    margin: 0 auto;
    display: block;
    filter: brightness(400%);
}
.boruto img:hover{
    filter: brightness(200%);
}
.sasuke h3{
    color: aliceblue;
    text-align: center;
}
.sasuke img{
    height:260px;
    width: 400px;
    margin: 0 auto;
    display: block;
    filter:invert(400%);
}
.sasuke img:hover{
    filter: invert(0%);
}
.sakura h3{
    color: aliceblue;
    text-align: center;
}
.sakura img{
    height:300px;
    width: 300px;
    display: block;
    margin: 0 auto;
    filter:grayscale(200%);
}
.sakura img:hover{
    filter: grayscale(0%);
}
.shika h3{
    color: aliceblue;
    text-align: center;
}
.shika img{
    height:260px;
    width: 400px;
    margin: 0 auto;
    display: block;
    filter:saturate(400%);
}
.shika img:hover{
    filter: saturate(100%);
}
.temari h3{
    color: aliceblue;
    text-align: center;
}
.temari img{
    height:260px;
    width: 400px;
    margin: 0 auto;
    display: block;
    filter:sepia(400%);
}
.temari img:hover{
    filter: sepia(0%);
}